<div id="caculator">
    <div class="row_1">
        <input type="text" value="" >
    </div>
    <div class="row-2">
        <button id="clear"value="Clear">Clear</button>
        <button id="divide" >/</button>

    </div>
    <div class="row_3">
        <button id="seven" >7 </button>
        <button id="eight" >8</button>
        <button id="nine">9</button>
        <button id="multi">x</button>    
    </div>
    <div class="row_4">
        <button id="four" >4</button> 
        <button id="five" >5</button>
        <button id="six" >6</button>
        <button id="minus">-</button>

    </div>
    <div class="row_5">
        <button id="one">1</button>
        <button id="two" >2</button>
        <button id="three">3</button>
        <button id="plus">+</button>
    </div>
    <div class="row_6">
        <button id="zero" >0</button>
        <button id="comma" >.</button>
        <button id="equal">=</button>
    </div>
</div>